/* ================ Customize for Graduation System ================= */

#faculties, #individual, #batch {
  display: none;
}

#individual span.input-group-addon,
#batch span.input-group-addon {
  text-shadow: none;
}

#faculties big {
  margin: 0 10px;
}