/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
#faculties .btn {
  margin-top: 5px;
}


/* ================ Customize for Graduation System ================= */

#faculties, #individual, #batch {
  display: none;
}

#individual span.input-group-addon,
#batch span.input-group-addon {
  text-shadow: none;
}

#faculties big {
  margin: 0 10px;
}